## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/packages/*
project.lock.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

## IDE
.vs/
.vscode/
*.swp
*~
.idea/

## OS
Thumbs.db
.DS_Store
